#srsContainer {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  border: 1px solid black;
  z-index: 10000000000000;
}
#srsContainer article,
#srsContainer aside,
#srsContainer details,
#srsContainer figcaption,
#srsContainer figure,
#srsContainer footer,
#srsContainer header,
#srsContainer hgroup,
#srsContainer main,
#srsContainer nav,
#srsContainer section,
#srsContainer summary {
  display: block;
}
#srsContainer audio,
#srsContainer canvas,
#srsContainer progress,
#srsContainer video {
  display: inline-block;
  vertical-align: baseline;
}
#srsContainer audio:not([controls]) {
  display: none;
  height: 0;
}
#srsContainer [hidden],
#srsContainer template {
  display: none;
}
#srsContainer a {
  background: transparent;
}
#srsContainer a:active,
#srsContainer a:hover {
  outline: 0;
}
#srsContainer abbr[title] {
  border-bottom: 1px dotted;
}
#srsContainer b,
#srsContainer strong {
  font-weight: bold;
}
#srsContainer dfn {
  font-style: italic;
}
#srsContainer h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
#srsContainer mark {
  background: #ff0;
  color: #000;
}
#srsContainer small {
  font-size: 80%;
}
#srsContainer sub,
#srsContainer sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
#srsContainer sup {
  top: -0.5em;
}
#srsContainer sub {
  bottom: -0.25em;
}
#srsContainer img {
  border: 0;
}
#srsContainer svg:not(:root) {
  overflow: hidden;
}
#srsContainer figure {
  margin: 1em 40px;
}
#srsContainer hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
#srsContainer pre {
  overflow: auto;
}
#srsContainer code,
#srsContainer kbd,
#srsContainer pre,
#srsContainer samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
#srsContainer button,
#srsContainer input,
#srsContainer optgroup,
#srsContainer select,
#srsContainer textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
#srsContainer button {
  overflow: visible;
}
#srsContainer button,
#srsContainer select {
  text-transform: none;
}
#srsContainer button,
#srsContainer html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
#srsContainer button[disabled],
#srsContainer html input[disabled] {
  cursor: default;
}
#srsContainer button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
#srsContainer input {
  line-height: normal;
}
#srsContainer input[type="reset"],
#srsContainer input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
#srsContainer input[type="checkbox"],
#srsContainer input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
#srsContainer input[type="number"]::-webkit-inner-spin-button,
#srsContainer input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
#srsContainer input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#srsContainer input[type="search"]::-webkit-search-cancel-button,
#srsContainer input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
#srsContainer fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
#srsContainer legend {
  border: 0;
  padding: 0;
}
#srsContainer textarea {
  overflow: auto;
}
#srsContainer optgroup {
  font-weight: bold;
}
#srsContainer table {
  border-collapse: collapse;
  border-spacing: 0;
}
#srsContainer td,
#srsContainer th {
  padding: 0;
}
